//
.footer-bottom{
  height: 130px;
  background-color: $primary-color;
  .container{
    @include between();
    height: 100%;
    .sign-up{
      a{
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        height: 35px;
        border: 2px solid $merchandaise-color;
        padding: 12px 15px;
        transition: 0.4s;
        &:hover{
          border: 2px solid white;
          color: white;
          background-color: rgba(255, 255, 255, 0.445)
        }
      }
    }
    .follow{
      @include center();
      a{
        @include center();
        color: $logo-color;
        text-transform: uppercase;
        text-decoration: none;
        height: 35px;
        font-weight: bold;
        margin-left: 20px;
        transition: 0.2s;
        &:hover{
          filter: invert(1);
        }
      }
    }
  }
}
